policy_module(iss2023-lima-db_c,1.0)

# Tempate interface to create iss2023-lima-db_t type so it can be run in the docker container.
virt_sandbox_domain_template(iss2023-lima-db_c);

#################     audit2allow rules     ##################
require {
	type iss2023-lima-db_c_t;
	type mysqld_port_t;
	type node_t;
	type sysfs_t;
	class capability { dac_override setgid setuid };
	class tcp_socket { accept bind create getattr listen name_bind node_bind setopt write read};
	class file { open read };
	class netlink_route_socket { bind create getattr nlmsg_read write read};
	class lnk_file read;
	class dir read;
	class udp_socket { connect create getattr ioctl };
}

#============= iss2023-lima-db_c_t ==============
allow iss2023-lima-db_c_t mysqld_port_t:tcp_socket name_bind;
allow iss2023-lima-db_c_t node_t:tcp_socket node_bind;
allow iss2023-lima-db_c_t self:capability { dac_override setgid setuid };
allow iss2023-lima-db_c_t self:netlink_route_socket { bind create getattr nlmsg_read write read};
allow iss2023-lima-db_c_t self:tcp_socket { accept bind create getattr listen setopt write read};
allow iss2023-lima-db_c_t self:udp_socket { connect create getattr ioctl };
allow iss2023-lima-db_c_t sysfs_t:file { open read };
allow iss2023-lima-db_c_t sysfs_t:lnk_file read;
allow iss2023-lima-db_c_t sysfs_t:dir read;



################# end audit2allow additions ##################
