policy_module(iss2023-lima-web_c,2.0)

# Template interface to create iss2023-lima-web_t type so it can be run in the docker container.
virt_sandbox_domain_template(iss2023-lima-web_c);

################# put audit2allow rules in here ##############
require {
	type mysqld_port_t;
}
# For nginx
allow iss2023-lima-web_c_t self:capability { setgid setuid chown };
allow iss2023-lima-web_c_t self:tcp_socket { create setopt bind listen };
allow iss2023-lima-web_c_t self:tcp_socket { name_bind };
allow iss2023-lima-web_c_t self:tcp_socket { accept };
allow iss2023-lima-web_c_t self:tcp_socket { getattr };
allow iss2023-lima-web_c_t self:tcp_socket { read };

corenet_tcp_bind_generic_node(iss2023-lima-web_c_t);
corenet_tcp_bind_http_port(iss2023-lima-web_c_t);

# For php-fpm
allow iss2023-lima-web_c_t self:tcp_socket { create connect getopt };
allow iss2023-lima-web_c_t self:tcp_socket { write };
allow iss2023-lima-web_c_t self:udp_socket { connect create getattr setopt};
allow iss2023-lima-web_c_t mysqld_port_t:tcp_socket name_connect;

corenet_tcp_bind_generic_node(iss2023-lima-web_c_t);
corenet_tcp_bind_commplex_main_port(iss2023-lima-web_c_t);

################# end audit2allow additions ##################

# Remove this rule, when you are confident in the policy.
# permissive iss2023-lima-web_c_t;
