policy_module(iss2023-lima-web_c,1.0)

# Tempate interface to create iss2023-lima-web_t type so it can be run in the docker container.
virt_sandbox_domain_template(iss2023-lima-web_c);

################# put audit2allow rules in here ##############
require {
	type framebuf_device_t;
	type iss2023-lima-web_c_t;
	type unreserved_port_t;
	type docker_chat_t;
	type node_t;
	type http_port_t;
	type plymouthd_t;
	type mysqld_port_t;
	class capability { chown net_bind_service setgid setuid };
	class tcp_socket { getopt accept bind create getattr listen name_bind node_bind setopt connect};
	class udp_socket { connect create getattr setopt };
	class chr_file map;
}
#============= iss2023-lima-web_c_t ==============
allow iss2023-lima-web_c_t http_port_t:tcp_socket name_bind;
allow iss2023-lima-web_c_t node_t:tcp_socket node_bind;
allow iss2023-lima-web_c_t self:capability { chown net_bind_service setgid setuid };
allow iss2023-lima-web_c_t self:tcp_socket { read write bind create listen setopt accept getattr getopt connect};
allow iss2023-lima-web_c_t self:udp_socket { connect create getattr setopt};
allow iss2023-lima-web_c_t mysqld_port_t:tcp_socket name_connect;

################# end audit2allow additions ##################



